body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
  align-items: center;
  padding-top: 5px;
  font-size: 14px;
}

span {
  border: solid 1px #b1afc0;
  color: #55545c;
  margin: 1px;
  width: 25px;
  height: 25px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}
span:hover {
  border-color: #55545c;
}
span:active {
  border-color: blue;
}
[class^="icon-"]:before {
  line-height: 25px;
}
