body {
  margin: 0;
  display: flex;
  flex-direction: row;
  background-color: #fbfbfb;
  padding: 5px 5px 5px 0;
  font-size: 14px;
}
#toolbar,
#toolbar div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
}
#toolbar div:first-child {
  flex: 1;
}
#content {
  flex: 1;
}
span {
  border: solid 1px #b1afc0;
  color: #55545c;
  margin: 1px;
  width: 25px;
  height: 25px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}
span:hover {
  border-color: #55545c;
}
span:active {
  border-color: blue;
}
[class^="icon-"]:before {
  line-height: 25px;
}

webview {
  border: none;
  width: 100%;
  height: 100%;
}
span[class="icon-whatsapp"] {
  position: relative;
}
span[data-badge]:not([data-badge="0"]):after {
  content: attr(data-badge);
  display: block;
  color: #fff;
  background-color: #4790f5;
  font-family: Arial;
  font-weight: 500;
  font-size: 10px;
  padding: 2px;
  position: absolute;
  top: -5px;
  right: -5px;
  max-width: 30px;
  min-width: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#options {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
#options iframe {
  border: none;
  width: 80%;
  min-width: 200px;
  background-color: #fff;
}
